@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins & Inter */


* {
    margin: 0;
    padding: 0;
}

/* Shared styles */
body {
    margin: 0 157px;
}

h1, h2, h3, h4 {
    font-family: Poppins;
}

p {
    font-family: Inter;
}

.title {
    font-size: 36px;
    color: #1F1F1F;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 24px;
}


/* Top-bar */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
    margin-top: 31px;
    margin-bottom: 49px;
}

.icon {
    cursor: pointer;
}


/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    background: #FEEAE9;
    padding: 38px 49px 39px 53px;
    border-radius: 8px;
    margin-bottom: 60px;
}

.hero-left h1 {
    color: #1F1F1F;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hero-left p {
    color: #4E4E4E;
    font-size: 16px;
    line-height: 26px;
    margin-right: 104px;
    margin-bottom: 8px;
}

.price {
    color: #FF136F;
    font-size: 41px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero-btn {
    background: #FF136F;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: medium;
    line-height: auto;
    padding: 14px 45px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.hero-btn:hover {
    background: #b20d4c;
}



/* Categories Section */
.categories-section {
    margin-bottom: 98px;
}

.cate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.watch, .bag, .shoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    padding: 15px 40px;
    color: #FFFFFF;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 500;

}

.watch {
    background: #FF9C35;
}

.watch:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.bag {
    background: #FF136F;
}

.bag:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.shoes {
    background: #3F07F8;
}

.shoes:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}


/* Shoes Section & bag-container */
.shoes-container, .bag-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 98px;
}

.card {
    text-align: center;
    border: 2px solid #929292;
    border-radius: 20px;
    padding: 24px;
}

.card-img {
    margin-bottom: 22px;
}

.card-title {
    color: #1F1F1F;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    margin-bottom: 16px;
}

.card-desc {
    color: #4E4E4E;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.card-price {
    color: #1F1F1F;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 16px;
}

.card-btn {
    padding: 14px 20px;
    background: #000000;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.card-btn i {
    margin-left: 10px;
}

.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.card-btn:hover {
    background: #515151;
}


/* Newsletter Section */
.news-section {
    background: rgb(255, 242, 241);
    text-align: center;
    padding: 146px 246px;
    margin-bottom: 75px;
}

.headline {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    color: #1F1F1F;
    margin-bottom: 4px;
}

.subtext {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #707070;
    margin-bottom: 16px;
}

.subscribe {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.subscribe input {
    width: 70%;
    padding: 21px 0px 16px 35px;
    background: #FFFFFF;
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 8px 0 0 8px;
}

.subscribe input::placeholder {
    color: #CCCCCC;
}

.btn {
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    background: rgb(255, 88, 155);
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 21px 47px 16px 48px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(181, 30, 90);
}